body {
  font-family: 'Segoe UI', sans-serif;
  background: #4CAF50;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #4CAF50;
}

.error_message {
  width: 100%;
  color: red;
  text-align: center;
  margin-bottom: 15px;
  background-color: #ffe6e6;
  padding: 12px;
  border-radius: 8px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  width: 107%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

p {
  text-align: center;
  margin-top: 10px;
}

a {
  color: #4CAF50;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
